.upper{
    width: 600px;
    height: 300px;
    border:2px,black,solid;
}
.a{
    width:600px;
    height:100px;
    background-color: #be0026;
}
.b{
    width:600px;
    height:100px;
    background-color:#3c5aa3; 
}
.c{
    width:600px;
    height:100px;
    background-color:#e2ae58;
}